* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(90deg, rgba(255,244,99,1) 0%, rgba(255,178,118,1) 35%, rgba(255,144,254,1) 100%);}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 2rem;
}

input {
  font: inherit;
  padding: 1rem;
  border: 5px solid #2cfff1;
  background: #fff6c3;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  margin: 1rem auto;
  border-radius: 30px;
  text-align: center;
  color: #242424;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #2caeff;
  background-color: aliceblue;
}

button {
  font: inherit;
  background: none;
  color: aliceblue;
  border: 0px;
  padding: 0.8rem 1.8rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 1.8rem;
  transition: 0.3s;
  box-shadow: 0.3em 0.3em 0 0 #2cfff1,
    inset 0.3em 0.3em 0 0 #2cfff1;
}

button:hover,
button:active {
  box-shadow: 0 0 0 0 #2caeff, inset 6em 3.5em 0 0 #2caeff;
  color: aliceblue;
}
footer{
  text-align: center;
}